<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration Numbers App</title>
  <link rel="stylesheet" href="/css/registration_number.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
</head>
<body>

    {{{body}}}

</body>
</html>
