<div class='style'>
<h1>Registration Numbers Webapp</h1>
<form class ="entry" action='/reg_numbers' method='post'>

<input type='text' name='name' placeholder="enter registration number" required=""> </input><br><br>
<input type='submit' class='btn' value='ADD'></input><br><br>


</form>

<!-- </form> -->

<form class='entry' action='/selected_town' method='post'>

  <input type='radio' name='regNum' value='All'>All</input>
  <input type='radio' name='regNum' value='cl'>Bellville </input>
  <input type='radio' name='regNum' value='ck'>Malmesbury</input>
  <input type='radio' name='regNum' value='ca'>Cape Town</input>

  <input type='submit' class='button' value='filter'></input>

</form>

<form class='entry' action='/reset_number' method='post'>


<div class=reset>
<input type='submit' class='button' value='RESET'></input>
</div>

</form>

<div class='area'>
{{#each listReg}}
<div class='numPlate'>
  {{this.plateNumber}}
</div>
{{/each}}

{{#each output}}
<div class='numPlate'>
{{this.plateNumber}}
{{/each}}
</div>

</div>

</div>
