body{
  text-align: center;
  background-color: white;
}

h1{
  background: yellow;
}

.numPlate{
  border: 5px solid black;
    padding: 32px;
    background-color: yellow;
    width: 150px;
    height: 0px;
    border-radius: 43px;
    text-align: center;
    margin: 28px;
}

.button{
  margin-left: 458px
}

.reset{
  margin-left: 328px;
}
